<div>
    <% for(let i = 0; i < messages.length; i++) {%>
        <ul>
            <li>text: <%= messages[i].text %></li>
            <li>user: <%= messages[i].user%></li>
            <li>Date: <%= messages[i].added%></li>
        </ul>
    <% } %>
</div>